VITE_SUPABASE_URL=https://todasyhajyysdllkgwdt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvZGFzeWhhanl5c2RsbGtnd2R0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5OTM5NTIsImV4cCI6MjA5MTU2OTk1Mn0.uNOuwOH5BfeWI5lhd7VfIShUzkPn5Il1F9GQm12IuTg
VITE_CHATBOT_API_URL=
VITE_CHATBOT_API_KEY=
VITE_APP_NAME=FamMed
VITE_APP_VERSION=1.0.0
